.formContainer{
    background-color: rgb(148, 115, 135);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: rgb(224, 219, 223);
        padding: 20px 60px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 450px;
        height: 450px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

        .logo{
            color: rgb(65, 43, 55);
            font-weight: bold;
            font-size: 35px;
            text-align: center;
        }

        .title{
            color: rgb(65, 43, 55);
            text-align: center;
            font-size: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            input{
                padding: 15px;
                border-radius: 15px;
                width: 270px;
                background-color: rgb(218, 179, 209);;

                &::placeholder{
                    color: rgb(122, 110, 119);
                }
            }

            button{
                background-color: rgb(141, 97, 131);
                height: 35px;
                width: 250px;
                align-self: center;
                border-radius: 15px;
                font-size: 15px;
                cursor: pointer;
            }

            label{
                display: flex;
                align-items: center;
                gap: 18px;
                color: rgb(63, 57, 61);
                font-size: 15px;
                cursor: pointer;

                img{
                    width: 32px;
                }
            }

            .file{
                display: none;
            }
        }

        p{
            color: rgb(65, 43, 55);
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: rgb(46, 46, 46);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 25px;
        width: 90%;
        height: 90%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background-color: rgb(39, 39, 39);

            .navbar{
                display: flex;
                align-items: center;
                background-color: rgb(25, 24, 29);
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: rgb(226, 226, 226);

                .logo{
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px;

                    img{
                        background-color: aliceblue;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: rgb(73, 72, 76);
                        color:rgb(226, 226, 226);
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            .search{
                border-radius: 1px solid grey;

                .searchForm{
                    padding: 10px;

                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                    }
                }
            }

            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .chat{
            flex: 2;
        }
    }
}